* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.wrap-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding: 20px 0;
}

/* header */

header {
  background-color: #f1f1f1;
  text-align: center;
  padding: 20px;
}

.content-header {
  width: 100%;
}

.content-header-div-wrap {
  max-width: 60%;
  text-align: center;
  display: inline-block;
}

.content-header-div-wrap-flex{
  display: flex;
  justify-content: space-between;
}

.content-sidebar-left a, .btnAdd {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0 7px;
}

a:hover {
  color:  rgb(179, 137, 137);
}

.content-sidebar-right a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  background: rgb(156, 151, 151);
  border-radius: 37px;
  padding: 19px 9px;
  font-size: 8px;
  margin: 0 7px;
}

.content-sidebar-right a:hover {
  background: rgb(179, 137, 137);
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  transition: 0.5s;
}

.content-sidebar-right a:first-child {
  margin-left: 60px;
}

.content-sidebar-right a:last-child {
  padding: 19px 12px;
}

/* line title */

.content-title {
  text-align: start;
  color: rgb(57, 57, 58);
  font-weight: 900;
}

.line {
  border: none;
  background-color: rgb(74, 65, 90);
  height: 2px;
}

/* footer  */

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.general-section {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
  flex-shrink: 0;
}

/* shop page item */

.book-item-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  max-width: 100%;
  max-height: 100%;
}

.book-item {
  flex-basis: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 7px;
  border-radius: 10px;
  background-color: #f1f1f1;
  margin: 8px 18px 18px 18px;
  max-width: 200px;
  max-height: 300px;
}

.book-item:hover {
  margin-bottom: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.5s;
}

.bntBuyBookShop {
  background: rgb(87, 85, 85);
  color: #fff;
  cursor: pointer;
  border-radius: 22px;
  padding: 10px 30px;
  font-size: 12px;
  margin: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

.bntBuyBookShop:hover {
  background:  rgb(179, 137, 137);
  color: #fff;
  transition: 0.5s;
}

.btnAdd {
  background: rgb(87, 85, 85);
  color: #fff;
  cursor: pointer;
  border-radius: 12px;
  padding: 9px 20px;
  font-size: 10px;
  margin: 0 0 4px 25px;
}

.btnAdd:hover {
  background: rgb(179, 137, 137);
  color: #fff;
  transition: 0.5s;
}

.book-item p {
  font-size: small;
}

.imageBookShop {
  height: 120px;
  width: 90px;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.book-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.block-price-edit {
  display: flex;
  flex-direction: row;
}

.icon-padding {
  padding: 4px;
}

/* delivery page */

.delivery-paragraph {
  padding: 10px;
}

/* sale page */

.sale-book-item {
  display: flex;
  flex-direction: row-reverse;
  background-color: #f1f1f1;
  margin: 15px;
  padding: 25px 10px 20px 10px;
  width: 100%;
}

.imageSaleBook {
  padding-left: 10px;
  width: 15%;
}

.descriptionSaleBook{
  width: 85%;
}

.text-sale {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  
}

.bntBuyBookSale {
  background: rgb(87, 85, 85);
  color: #fff;
  cursor: pointer;
  border-radius: 22px;
  padding: 10px 30px;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

.bntBuyBookSale:hover {
  background:  rgb(179, 137, 137);
  color: #fff;
  transition: 0.5s;
}

.elem-padding {
  padding: 5px;
}

.salePrice {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pricePadding {
  padding-left: 7px;
}

.pricePadding:first-child {
  text-decoration: line-through;
  color: rgb(184, 21, 21);
}

/* blog page */

.wrapBlogItems {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.titleBlog {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
  padding-left: 20px;
}

.contentSectionBlog {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 10px 20px 10px;
  width: 100%;
}

.imageBlog {
  padding-right: 10px;
  width: 25%;
  height: 80%;
}

.descriptionBlog{
  width: 75%;
}

.image-blog-flex{
  width: 100%;
  height: 100%;
}

.imageBlog img {
  height: 80%;
  width: 95%;
}

.text-blog {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

/* Basket */

.removeBook {
  background:  rgb(165, 147, 147);
  color: #fff;
  cursor: pointer;
  border-radius: 22px;
  padding: 10px 30px;
  font-size: 12px;
  margin: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

.removeBook:hover {
  background: rgb(179, 137, 137);
  color: #fff;
}

/* Login */

.contentLogin {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  padding: 20px 0;
}

.loginContentWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  max-width: 100%;
  max-height: 100%;
}

.inputForm {
  border: 2px solid rgb(66, 63, 63);
  display: inline-block;
  box-sizing: border-box;
  height: 41px;
  vertical-align: middle;
  border-radius: 12px;
  width: 260px;
  padding: 14px;
}

.inputForm:hover, .inputForm:focus {
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.09);
}

.loginbtn {
  background: rgb(179, 137, 137);
  color: #fff;
  cursor: pointer;
  border-radius: 12px;
  padding: 10px 40px;
  font-size: 12px;
  margin: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.loginbtn:hover {
  background: rgb(184, 167, 167);
  color: #fff; 
  transition: 0.5s;
}

.loginPageMargin {
  margin: 10px;
}

.marginTop {
  margin-top: 22px;
}

/* Modal window */

/* The Modal (background) */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */

.modal-content {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 55%;
  height: 75%;
}

/* The Close Button */

.close {
  float:right;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.inputFormAddBook {
  border: 2px solid rgb(66, 63, 63);
  display: inline-block;
  box-sizing: border-box;
  height: 41px;
  vertical-align: middle;
  border-radius: 12px;
  width: 550px;
  padding: 14px;
}

textarea {
  resize: none;
  border: 2px solid rgb(66, 63, 63);
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  border-radius: 12px;
  width: 550px;
  padding: 14px;
}

.priceInputBook{
  border: 2px solid rgb(66, 63, 63);
  display: inline-block;
  box-sizing: border-box;
  height: 41px;
  vertical-align: middle;
  border-radius: 12px;
  width: 272px;
  padding: 14px;
}

.priceInputBook:first-child{
  margin-right: 5px;
}

.priceInputBook:last-child{
  margin-left: 5px;
 
}

.priceBook{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.btnsBook{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
