<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>

</head>

<body>
    <div class='general-section'>
        <header>
            <%- include('./partials/sidebar'); %>
        </header>

        <main class='wrap-content'>

            <div class='content'>
                <h2 class="content-title">Basket</h2>

                <hr class="line">
                </hr>

                <div class='book-item-wrap'>

                    <div class='book-item'>
                        <h3 class='book-title'>The Lord of the Rings</h3>
                        <img src='/image/lordoftherings.png' class='imageBookShop' />
                        <div class='block-price-edit'>
                            <h4 class='icon-padding'>56$</h4>
                        </div>
                        <a href="#" type='button' class="removeBook"><span>Remove</span></a>
                    </div>

                    <div class='book-item'>
                        <h3 class='book-title'>The Lord of the Rings</h3>
                        <img src='/image/lordoftherings.png' class='imageBookShop' />
                        <div class='block-price-edit'>
                            <h4 class='icon-padding'>56$</h4>
                        </div>
                        <a href="#" type='button' class="removeBook"><span>Remove</span></a>
                    </div>

                    <div class='book-item'>
                        <h3 class='book-title'>The Lord of the Rings</h3>
                        <img src='/image/lordoftherings.png' class='imageBookShop' />
                        <div class='block-price-edit'>
                            <h4 class='icon-padding'>56$</h4>
                        </div>
                        <a href="#" type='button' class="removeBook"><span>Remove</span></a>
                    </div>
                </div>

                <div class='icon-padding'>
                    <a href='/' class='bntBuyBookShop'  type='button'><span>Checkout</span></a>
                </div>

            </div>
        </main>
    </div>


    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>

</html>