<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>

</head>

<body>
    <div class='general-section'>
        <header>
            <%- include('./partials/sidebar'); %>
        </header>
        <main class='wrap-content'>
               
            <div class='content'>
                <h2 class="content-title">Blog</h2>
                <hr class="line"></hr>
                <div class='wrapBlogItems'>

               
                <div class='blogItem'>

                    <div class='titleBlog'> 
                        <h3>PEN America World Voices Festival</h3>
                        <div class='elem-padding'>
                            <a href='#' class='icon-padding'><i class="fas fa-pencil-alt"></i></a>
                        </div>
                        <div  class='elem-padding'>
                            <a href='#' class='icon-padding'><i class="fas fa-times"></i></a>
                        </div> 
                    </div>
                    <div class='contentSectionBlog'>
                        <div class='descriptionBlog'>
                            <div>
                                <p>The 2020 PEN America Virtual Gala merged our annual New York Literary Gala and Los Angeles LitFest Gala into one national, virtual celebration on December 8.
                                     Our digital program represented a crucial moment for our community to stand together in recognition of our deserving honorees and to fortify our mission at a time of extraordinary needs and demands. 
                                     The fight for creative expression is so important, now more than ever, and thousands tuned in for a unique, one-night-only event to toast to human rights and the power of words.</p>
                                    
                                  <p> Featured Patti Smith, Darnella Frazier, Marie Yovanovitch, Frank Bennack Jr., Spike Lee, Bono, Emma Thompson, Madeleine Albright, and former U.S. President Barack Obama.</p>    
                            </div>
                        </div>
                        <div class='imageBlog' >
                            <img src='/image/blog_image.jpg'/>      
                        </div>
                    </div>
                  
            </div>

            <div class='blogItem'>

                <div class='titleBlog'> 
                    <h3>PEN America World Voices Festival</h3>
                    <div class='elem-padding'>
                        <a href='#' class='icon-padding'><i class="fas fa-pencil-alt"></i></a>
                    </div>
                    <div  class='elem-padding'>
                        <a href='#' class='icon-padding'><i class="fas fa-times"></i></a>
                    </div> 
                </div>
                <div class='contentSectionBlog'>
                    <div class='descriptionBlog'>
                        <div>
                            <p>The 2020 PEN America Virtual Gala merged our annual New York Literary Gala and Los Angeles LitFest Gala into one national, virtual celebration on December 8.
                                 Our digital program represented a crucial moment for our community to stand together in recognition of our deserving honorees and to fortify our mission at a time of extraordinary needs and demands. 
                                 The fight for creative expression is so important, now more than ever, and thousands tuned in for a unique, one-night-only event to toast to human rights and the power of words.</p>
                                
                              <p> Featured Patti Smith, Darnella Frazier, Marie Yovanovitch, Frank Bennack Jr., Spike Lee, Bono, Emma Thompson, Madeleine Albright, and former U.S. President Barack Obama.</p>    
                        </div>
                    </div>
                    <div class='imageBlog' >
                        <img src='/image/blog_image.jpg'/>      
                    </div>
                </div>
              
        </div>
        
        <div class='blogItem'>

            <div class='titleBlog'> 
                <h3>PEN America World Voices Festival</h3>
                <div class='elem-padding'>
                    <a href='#' class='icon-padding'><i class="fas fa-pencil-alt"></i></a>
                </div>
                <div  class='elem-padding'>
                    <a href='#' class='icon-padding'><i class="fas fa-times"></i></a>
                </div> 
            </div>
            <div class='contentSectionBlog'>
                <div class='descriptionBlog'>
                    <div>
                        <p>The 2020 PEN America Virtual Gala merged our annual New York Literary Gala and Los Angeles LitFest Gala into one national, virtual celebration on December 8.
                             Our digital program represented a crucial moment for our community to stand together in recognition of our deserving honorees and to fortify our mission at a time of extraordinary needs and demands. 
                             The fight for creative expression is so important, now more than ever, and thousands tuned in for a unique, one-night-only event to toast to human rights and the power of words.</p>
                            
                          <p> Featured Patti Smith, Darnella Frazier, Marie Yovanovitch, Frank Bennack Jr., Spike Lee, Bono, Emma Thompson, Madeleine Albright, and former U.S. President Barack Obama.</p>    
                    </div>
                </div>
                <div class='imageBlog' >
                    <img src='/image/blog_image.jpg'/>      
                </div>
            </div>
          
    </div>
    
</div>
    </div>
    </main>

    </div>
    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>

</html>