<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>

</head>

<body>
    <div class='general-section'>
        <header>
            <%- include('./partials/sidebar'); %>
        </header>
        <main class='wrap-content'>
            <div class='content'>
                <h2 class="content-title">Delivery</h2>
                <hr class="line">
                </hr>
                <div class='delivery-paragraph'>
                    <h2>Shipping Policy</h2>
                    <p>
                        Place orders before the Same-Day Delivery order cutoff time. The "order within" countdown timer
                        provides the window of time in which you must place the order to receive your delivery by the
                        date
                        shown. That delivery date may become unavailable during that time due to changes in inventory or
                        delivery capacity before you place your order. We'll include your confirmed delivery date in
                        your
                        order confirmation email.
                    </p>
                </div>

                <div class='delivery-paragraph'>
                    <h2>Delivery Guarantees</h2>
                    <p>
                        We offer guaranteed delivery on certain delivery speeds and select products. When guaranteed
                        delivery is available on an order, we'll state this on the checkout page, with the associated
                        delivery date and cost.

                        If we provide a guaranteed delivery date and a delivery attempt isn't made by this date, we'll
                        refund any shipping fees associated with that order.

                        The "order within" countdown timer provides the window of time in which you must place the order
                        to
                        receive your delivery by the date shown. The delivery day may become unavailable within that
                        timeframe due to changes in inventory or delivery capacity before you place your order. Your
                        confirmed delivery date is in your order confirmation email.
                    </p>
                </div>
            </div>
    </div>
    </main>

    </div>
    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>

</html>