<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>

</head>

<body>
    <div class='general-section'>
        

        <main class='wrap-content'>

            <div class='contentLogin'>
                <h2 class="content-title">Sign up</h2>

                <hr class="line">
                </hr>

                <div class='loginContentWrap' >

                    <div class='loginPageMargin marginTop'>
                        <input class='inputForm' type='text' placeholder='login' id='loginField'>
                    </div>

                    <div class='loginPageMargin'>
                        <input class='inputForm' type='password' placeholder='password' id='passwordField'>
                    </div>

                    <div class='loginPageMargin'>
                        <a class='loginbtn' href='#' type='button' id='loginBtn'><span>Login</span></a>
                    </div>

            </div>
        </main>
    </div>

    
    <script src='javascript/login.js'></script>
</body>

</html>