<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>

</head>

<body>
    <div class='general-section'>
        <header>
            <%- include('./partials/sidebar'); %>
        </header>

        <main class='wrap-content'>

            <div class='content'>
                <h2 class="content-title">Books<a href="/" type='button'><span class='btnBuy'>Buy</span></a></h2>

                <hr class="line">
                </hr>

                <div class='book-item-wrap'>

                    <div class='book-item'>
                        <h3 class='book-title'>The Lord of the Rings</h3>
                        <img src='/image/lordoftherings.png' class='imageBookShop' />
                        <div class='block-price-edit'>
                            <h4 class='icon-padding'>56$</h4>
                            <a href='#' class='icon-padding'><i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href='#' class='icon-padding'><i class="fas fa-times"></i></a>
                        </div>
                        <p class='text'>The Lord of the Rings is an epic high fantasy novel by the English author and scholar J. R.
                            R.
                            Tolkien. </p>
                        <a href="/" type='button' class="bntBuyBookShop"><span>Buy</span></a>
                    </div>

                    <div class='book-item'>
                        <h3 class='book-title'>The Lord of the Rings</h3>
                        <img src='/image/lordoftherings.png' class='imageBookShop' />
                        <div class='block-price-edit'>
                            <h4 class='icon-padding'>56$</h4>
                            <a href='#' class='icon-padding'><i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href='#' class='icon-padding'><i class="fas fa-times"></i></a>
                        </div>
                        <p class='text'>The Lord of the Rings is an epic high fantasy novel by the English author and scholar J. R.
                            R.
                            Tolkien. </p>
                        <a href="/" type='button' class="bntBuyBookShop"><span>Buy</span></a>
                    </div>

                    <div class='book-item'>
                        <h3 class='book-title'>The Lord of the Rings</h3>
                        <img src='/image/lordoftherings.png' class='imageBookShop' />
                        <div class='block-price-edit'>
                            <h4 class='icon-padding'>56$</h4>
                            <a href='#' class='icon-padding'><i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href='#' class='icon-padding'><i class="fas fa-times"></i></a>
                        </div>
                        <p class='text'>The Lord of the Rings is an epic high fantasy novel by the English author and scholar J. R.
                            R.
                            Tolkien. </p>
                        <a href="/" type='button' class="bntBuyBookShop"><span>Buy</span></a>
                    </div>

                    <div class='book-item'>
                        <h3 class='book-title'>The Lord of the Rings</h3>
                        <img src='/image/lordoftherings.png' class='imageBookShop' />
                        <div class='block-price-edit'>
                            <h4 class='icon-padding'>56$</h4>
                            <a href='#' class='icon-padding'><i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href='#' class='icon-padding'><i class="fas fa-times"></i></a>
                        </div>
                        <p class='text'>The Lord of the Rings is an epic high fantasy novel by the English author and scholar J. R.
                            R.
                            Tolkien. </p>
                        <a href="/" type='button' class="bntBuyBookShop"><span>Buy</span></a>
                    </div>

                    <div class='book-item'>
                        <h3 class='book-title'>The Lord of the Rings</h3>
                        <img src='/image/lordoftherings.png' class='imageBookShop' />
                        <div class='block-price-edit'>
                            <h4 class='icon-padding'>56$</h4>
                            <a href='#' class='icon-padding'><i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href='#' class='icon-padding'><i class="fas fa-times"></i></a>
                        </div>
                        <p class='text'>The Lord of the Rings is an epic high fantasy novel by the English author and scholar J. R.
                            R.
                            Tolkien. </p>
                        <a href="/" type='button' class="bntBuyBookShop"><span>Buy</span></a>
                    </div>

                    <div class='book-item'>
                        <h3 class='book-title'>The Lord of the Rings</h3>
                        <img src='/image/lordoftherings.png' class='imageBookShop' />
                        <div class='block-price-edit'>
                            <h4 class='icon-padding'>56$</h4>
                            <a href='#' class='icon-padding'><i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href='#' class='icon-padding'><i class="fas fa-times"></i></a>
                        </div>
                        <p class='text'>The Lord of the Rings is an epic high fantasy novel by the English author and scholar J. R.
                            R.
                            Tolkien. 
                        </p>
                        <a href="/" type='button' class="bntBuyBookShop"><span>Buy</span></a>
                    </div>

                </div>
            </div>
        </main>
    </div>


    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>

</html>