<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>

</head>

<body>

    <header>
        <%- include('./partials/sidebar'); %>
    </header>

    <main class='wrap-content'>
        
        <div class='content'>
            <h2 class="content-title">Books</h2>
            <hr class="line"></hr>

            <div class='book-item-wrap'>
            
                <div class='book-item'>
                    <h3>The Lord of the Rings</h3>
                    <img src='/image/lordoftherings.png' class='image' />
                    <h4>56$</h4>
                    <p>The Lord of the Rings is an epic high fantasy novel by the English author and scholar J. R. R.
                        Tolkien. </p>
                    <a href="/" type='button'><span>Buy</span></a>
                </div>

                <div class='book-item'>
                    <h3>The Lord of the Rings</h3>
                    <img src='/image/lordoftherings.png' class='image' />
                    <h4>56$</h4>
                    <p>The Lord of the Rings is an epic high fantasy novel by the English author and scholar J. R. R.
                        Tolkien. </p>
                    <a href="/" type='button'><span>Buy</span></a>
                </div>

                <div class='book-item'>
                    <h3>The Lord of the Rings</h3>
                    <img src='/image/lordoftherings.png' class='image' />
                    <h4>56$</h4>
                    <p>The Lord of the Rings is an epic high fantasy novel by the English author and scholar J. R. R.
                        Tolkien. </p>
                    <a href="/" type='button'><span>Buy</span></a>
                </div>

                <div class='book-item'>
                    <h3>The Lord of the Rings</h3>
                    <img src='/image/lordoftherings.png' class='image' />
                    <h4>56$</h4>
                    <p>The Lord of the Rings is an epic high fantasy novel by the English author and scholar J. R. R.
                        Tolkien. </p>
                    <a href="/" type='button'><span>Buy</span></a>
                </div>

                <div class='book-item'>
                    <h3>The Lord of the Rings</h3>
                    <img src='/image/lordoftherings.png' class='image' />
                    <h4>56$</h4>
                    <p>The Lord of the Rings is an epic high fantasy novel by the English author and scholar J. R. R.
                        Tolkien. </p>
                    <a href="/" type='button'><span>Buy</span></a>
                </div>

                <div class='book-item'>
                    <h3>The Lord of the Rings</h3>
                    <img src='/image/lordoftherings.png' class='image' />
                    <h4>56$</h4>
                    <p>The Lord of the Rings is an epic high fantasy novel by the English author and scholar J. R. R.
                        Tolkien. </p>
                    <a href="/" type='button'><span>Buy</span></a>
                </div>
            </div>
        </div>
    </main>


    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>

</html>