<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>

</head>

<body>
    <div class='general-section'>
        <header>
            <%- include('./partials/sidebar'); %>
        </header>
        <main class='wrap-content'>

            <div class='content'>
                <h2 class="content-title">Sale<a id="btnAddNewBook" type='button'><span class='btnBuy'>New</span></a>
                </h2>

                <hr class="line">
                </hr>

                <div class='sale-book-item'>

                    <div class='descriptionSaleBook'>
                        <h3 class='book-title'>The Lord of the Rings</h3>
                        <div class='text-sale'>
                            <p>The Lord of the Rings is an epic high fantasy novel by the English author and scholar J.
                                R.R. Tolkien.</p>

                            <p>Continuing the story begun in «The Hobbit», this is the first part of Tolkien’s epic
                                masterpiece, «The Lord of the Rings»,
                                featuring a striking black cover based on Tolkien’s own design, the definitive text, and
                                a detailed map of Middle-earth.Sauron,
                                the Dark Lord, has gathered to him all the Rings of Power — the means by which he
                                intends to rule Middle-earth.</p>
                        </div>
                    </div>

                    <div class='imageSaleBook'>
                        <img src='/image/lordoftherings.png' class='imageBookShop' />
                        <div class='salePrice'>
                            <h4 class='pricePadding'>56$</h4>
                            <h4 class='pricePadding'>42$</h4>
                        </div>

                        <div class='elem-padding'>
                            <a href='#' class='icon-padding'><i class="fas fa-pencil-alt"></i></a>
                            <a href='#' class='icon-padding'><i class="fas fa-times"></i></a>
                        </div>
                        <div class='elem-padding'>
                            <a href="/" type='button' class='bntBuyBookSale'><span>Buy</span></a>
                        </div>

                    </div>
                </div>

                <div class='sale-book-item'>

                    <div class='descriptionSaleBook'>
                        <h3 class='book-title'>The Lord of the Rings</h3>
                        <div class='text-sale'>
                            <p>The Lord of the Rings is an epic high fantasy novel by the English author and scholar J.
                                R.R. Tolkien.</p>

                            <p>Continuing the story begun in «The Hobbit», this is the first part of Tolkien’s epic
                                masterpiece, «The Lord of the Rings»,
                                featuring a striking black cover based on Tolkien’s own design, the definitive text, and
                                a detailed map of Middle-earth.Sauron,
                                the Dark Lord, has gathered to him all the Rings of Power — the means by which he
                                intends to rule Middle-earth.</p>
                        </div>
                    </div>

                    <div class='imageSaleBook'>
                        <img src='/image/lordoftherings.png' class='imageBookShop' />
                        <div class='salePrice'>
                            <h4 class='pricePadding'>56$</h4>
                            <h4 class='pricePadding'>42$</h4>
                        </div>

                        <div class='elem-padding'>
                            <a href='#' class='icon-padding'><i class="fas fa-pencil-alt"></i></a>
                            <a href='#' class='icon-padding'><i class="fas fa-times"></i></a>
                        </div>
                        <div class='elem-padding'>
                            <a href="/" type='button' class='bntBuyBookSale'><span>Buy</span></a>
                        </div>

                    </div>
                </div>

            </div>
        </main>

    </div>
    <footer>
        <%- include('./partials/footer'); %>
    </footer>
<div class='modalSection'>
    <%- include('./partials/modalWindowBook'); %>
</div>
        <script src='javascript/bookModalWindow.js'></script>
</body>

</html>