<div class="footer">
    <div>
        <p>Contacts:</p>
        <p>Ukraine, Lviv, Heroiv Upa Street 23</p>
    </div>
    
    <div>
        <p>0-800-600-505</p>
        <p>044-225-0-505</p>
    </div>
</div>