<div id="modalAddBlog" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModalAddBlog()">&times;</span>
    <div>
      <h2 class="content-title">New Blog</h2>
      <hr class="line">
      </hr>

      <div class='loginPageMargin marginTop'>
        <p class="titleFieldAddBooks">Title</p>
        <input class='inputFormAddBook' type='text' id='inputTitleBlog'>
      </div>

      <div class='loginPageMargin'>
        <p class="titleFieldAddBooks">Image</p>
        <input class='inputFormAddBook' type='text'  id='inputImgBlog'>
      </div>

      <div class='loginPageMargin'>
        <p class="titleFieldAddBooks">Description text</p>
        <textarea  id='textareaDescriptionBlog' name="description" cols="40" rows="3"></textarea></p>
      </div>

      <div class='btnsBook'>
        <div class='loginPageMargin'>
          <a class='loginbtn' href='#' type='button' onclick="createBlogItem()"><span>Create</span></a>
        </div>
        <div class='loginPageMargin'>
          <a class='loginbtn' href='#' type='button' onclick="goToBlogPage()"><span>Abort</span></a>
        </div>

      </div>

    </div>

  </div>