<div class="content-header">

    <nav class="content-sidebar">
        <a href="/" id="shop-link" type='button'  ><span>Shop</span></a>
        <a href="/" id="sale-link" type='button' ><span>Sale</span></a>
        <a href="/delivery" id="delivery-link" type='button'><span>Delivery</span></a>
        <a href="/" id="blog-link" type='button'><span>Blog</span></a>
    </nav>
</div>