<div class="content-header">
  <div class="content-header-div-wrap">
    <div class="content-header-div-wrap-flex">
      <div class="content-sidebar-left">
        <a href="/" id="shop-link" type="button"><span>Shop</span></a>
        <a href="/sale" id="sale-link" type="button"><span>Sale</span></a>
        <a href="/delivery" id="delivery-link" type="button"
          ><span>Delivery</span></a
        >
        <a href="/blog" id="blog-link" type="button"><span>Blog</span></a>
      </div>

      <div class="content-sidebar-right">
        <a href="/basket" id="basket-link" type="button"><i class="fa fa-shopping-cart cart" aria-hidden="true"></i>
          <span id='basketCountNumber' class='numberItemsCart'>0</span></a>
        <a href="/login" id="login-link" type="button"><span>Login</span></a>
      </div>
    </div>
  </div>
</div>
